<div class="content-container">
    <app-sub-form
        [filterOptions]="(currencyOptions$ | async) || []"
        (inputChanged)="onInputChange($event)"
        (submitted)="onSubmit($event)"
    >
    </app-sub-form>
    <div class="market-data">
        <div class="title">Market data:</div>
        <div class="value">
            <div class="value__symbol">
                <span>Symbol:</span>
                <span>test</span>
            </div>
            <div class="value__price">
                <span>Price:</span>
                <span>test</span>
            </div>
            <div class="value__time">
                <span>Time:</span>
                <span>test</span>
            </div>
        </div>
    </div>
    <div class="charting-data">
        <div class="title">Charting data:</div>
        <div class="feature-graph">
            Here will be awesome graph...
        </div>
    </div>
</div>
<div class="chart">
    <app-bar-chart></app-bar-chart>
</div>
